.button {
  @include font-set(14px, 18px);
  font-family: $primary-font;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-font;
  color: $white;
  width: 280px;
  padding: 10px 0;
}
