.catalog {
  list-style: none;
  margin-top: 60px;
  position: relative;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    justify-content: flex-start;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 1px;
    background-color: $line-grey2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 65px 1fr;
  width: 280px;
  gap: 3px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 511px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 210px 90px 100px 86px;
    padding-left: 39px;
    padding-right: 37px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, transparent 17%, $basic-grey 17%);
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: $line-grey2;
    margin: 0 -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--view {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px 35px 55px;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding-top: 53px;
      padding-left: 0;
      padding-right: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 160px 100px 30px 190px;
      background: none;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        border: 2px solid $basic-grey;
        height: 426px;
        margin-top: 20px;
      }
    }
  }

  &:not(:nth-child(4n)) {
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &:nth-child(2n) .catalog__image {
    width: 84px;
    height: 101px;
    padding-left: 28px;
    padding-top: 10px;

    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;
      padding-left: 38px;
      padding-top: 35px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 4px;
      padding-top: 12px;
    }
  }
}

.catalog__list {
  @include list-reset;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 3px;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 76px;

  @media (min-width: $tablet-width) {
    width: 154px;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.catalog__title a {
  @include font-set(16px, 20px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  color: $special-dark-grey2;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 24px);
  }
}

.catalog__term,
.catalog__desc {
  @include font-set(12px, 16px, 400);
  font-family: $secondary-font;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 16px);
    margin-bottom: 14px;
  }
}

.catalog__desc {
  text-align: right;
}

.catalog__param {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    width: 248px;
    border-bottom: 1px solid $border-grey3;
    height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.catalog__button {
  @include center;
  @include font-set(16px, 16px, 400);
  grid-column: 1 / 3;
  margin-top: 3px;
  padding: 12px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 248px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.catalog__slogan {
  @include font-set(16px, 20px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 22px);
    margin: 0 auto;
    width: 140px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    top: 6px;
    left: 139px;
    background-color: $symbol-grey;

    @media (min-width: $tablet-width) {
      height: 60px;
      top: 143px;
      left: 162px;
    }

    @media (min-width: $desktop-width) {
      top: 143px;
      left: 122px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: 20px;
    left: 125px;
    background-color: $symbol-grey;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 173px;
      left: 132px;
    }

    @media (min-width: $desktop-width) {
      top: 173px;
      left: 92px;
    }
  }
}

.catalog__text {
  @include font-set(12px, 16px, 400);
  font-family: $secondary-font;
  grid-column: 1 / 2;
  grid-row: 3 /4;
  margin-top: 0;
  padding-top: 11px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 18px);
    width: 168px;
    margin: 0 auto;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 3px;
  }
}

.catalog__view {
  @include center;
  @include font-set(16px, 16px, 400);
  color: $special-dark-grey;
  background-color: $basic-grey;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 249px;
    margin-top: 40px;
    padding: 12px 0;
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-left: 38px;
  }

  &:hover,
  &:focus {
    background-color: $line-grey2;
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.catalog__image {
  grid-column: 1 / 2;
  width: 68px;
  padding-left: 36px;
  padding-top: 0;

  @media (min-width: $tablet-width) {
    width: 161px;
    grid-row: 1/2;
    padding-left: 43px;
    padding-top: 47px;
    object-fit: contain;
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.catalog__item:nth-child(odd):not(:first-child) .catalog__image {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.catalog__picture {
  grid-row: 1/3;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-row: auto;
  }
}
