
.copyright {
  @media (min-width: $tablet-width) {
    // padding-top: 10px;
  }
}

.copyright__link {
  @include font-set(16px, 18px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__link-icon {
    stroke: $basic-font;
  }

  &:active .copyright__link-icon {
    opacity: 0.3;
  }
}

.copyright__link-icon {
  margin-left: 138px;

  @media (min-width: $tablet-width) {

    margin-left: 25px;
  }
}
