
.copyright {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.copyright__link {
  @include font-set(16px, 18px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  display: flex;
  align-items: center;
  gap: 139px;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__link-icon {
    fill: $basic-font;
  }

  @media (min-width: $tablet-width) {
    gap: 25px;
  }
}

.copyright__link-icon {
  fill: $special-grey;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}
