.example {
  @include wrapper;
  @include font-set(14px, 18px, 400);
  font-family: $secondary-font;
  font-style: normal;
  color: $black;
  margin: 0;
  background-color: $bg-grey;
  min-height: 705px;

  @media (min-width: $tablet-width) {
    min-height: 1060px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    min-height: 610px;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__title {
  @include font-set(36px, 40px, 400);
  font-family: $primary-font;
  font-style: normal;
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include font-set(60px, 60px);
    margin-left: -20px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -28px;
    margin-left: -20px;
  }
}

.example__description {
  color: $special-dark-grey;
  width: 279px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 24px);
    width: 700px;
    margin-top: 64px;
    margin-left: -20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 148px;
    margin-left: -20px;
    width: 436px;
  }
}

.example__item {
  display: inline-block;
  margin-top: 22px;
}

.example__number {
  @include font-set(24px, 24px, 400);
  font-family: $primary-font;
  font-style: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(30px, 37px);
    margin-top: 30px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-left: 37px;
  }
}


.example__text {
  @include font-set(12px, 12px);
  text-transform: lowercase;
  text-align: center;
  width: 59px;

  @media (min-width: $tablet-width) {
    @include font-set(14px, 14px);
    width: 130px;
  }
}

.example__costs {
  @include font-set(14px, 20px, 400);
  font-family: $primary-font;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 20px);
    width: 175px;
    text-align: right;
    margin-left: 510px;
    margin-top: -70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    margin-left: -57px;
    width: 300px;
  }
}

.example__image {
  @media (min-width: $desktop-width) {
    width: 690px;
    height: 636px;
    margin-top: -130px;
  }
}
