.example {
  @include font-set(14px, 18px, 400);
  font-family: $secondary-font;
  color: $black;
  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__wrapper-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__title {
  @include font-set(36px, 40px, 400);
  font-family: $primary-font;
  font-style: normal;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 28px;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include font-set(60px, 60px);
    margin-bottom: 45px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 130px;
    padding-top: 45px;
  }
}

.example__description {
  color: $special-dark-grey;
  width: 275px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 24px);
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__item {
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-left: 57px;
  }

  &--weight {
    .example__number {
      margin-left: 42px;
      margin-top: 5px;
      margin-bottom: 8px;
      position: relative;

      @media (min-width: $tablet-width) {
        margin-left: 40px;
      }

      &::before {
        content: "";
        position: absolute;
        left: -40px;
        top: -16px;
        width: 124px;
        height: 56px;
        background-image: url("../../img/weight-back.svg");
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
          left: -55px;
          top: -20px;
          width: 162px;
          height: 72px;
          background-image: url("../../img/weight-back-tablet.svg");
        }
      }
    }

    .example__text {
      margin-left: 30px;

      @media (min-width: $tablet-width) {
        margin-left: 0;
      }
    }
  }

  &--days {
    .example__number {
      margin-left: 82px;
      margin-top: 5px;
      margin-bottom: 8px;
      position: relative;

      @media (min-width: $tablet-width) {
        margin-left: 70px;
      }

      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: -16px;
        width: 124px;
        height: 56px;
        background-image: url("../../img/weight-back.svg");
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {
          left: -30px;
          top: -20px;
          width: 162px;
          height: 72px;
          background-image: url("../../img/days-back-tablet.svg");
        }
      }
    }

    .example__text {
      margin-left: 95px;

      @media (min-width: $tablet-width) {
        margin-left: 55px;
      }
    }
  }
}

.example__number {
  @include font-set(24px, 24px, 400);
  font-family: $primary-font;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    @include font-set(30px, 37px);
  }
}

.example__text {
  @include font-set(12px, 12px);
  text-transform: lowercase;
  text-align: center;
  width: 59px;


  @media (min-width: $tablet-width) {
    @include font-set(14px, 14px);
    width: 130px;
  }
}

.example__costs {
  @include font-set(14px, 20px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 20px);
    width: 175px;
    text-align: right;
    padding-top: 30px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-top: 50px;
    text-align: left;
  }
}

.example__image {
  height: 232px;
  object-fit: cover;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 560px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 570px;
  }
}

.example__button {
  @include font-set(16px, 20px);
  font-family: $primary-font;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}

.example__bar {
  width: 84px;
  height: 14px;
  background: $white;
  border: 1px solid $border-grey3;
  box-sizing: border-box;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background: $border-grey3;
    margin-top: 5px;
  }
}

.example__toggle {
  width: 35px;
  height: 6px;
  background: $basic-font;
  border-radius: 6px;
  margin-top: 3px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    margin-top: -15px;
    margin-left: 197px;
    border: 13px solid $white;
    background-color: $basic-font;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba($black, 0.16));
  }
}

.example__slider {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding: 0 63px;
    align-items: center;
    margin-bottom: 70px;
  }
}

.example__list {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
