.gift {
  min-height: 289px;
  background-color: $bg-green;
  margin-top: 40px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    min-height: 289px;
  }
}

.gift__slogan {
  @include font-set(16px, 20px, 400);
  font-family: $secondary-font;
  color: $white;
  display: block;
  width: 161px;
  text-align: center;
  padding-top: 186px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 72px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-top: 187px;
    text-align: center;
  }
}
