.main-nav {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    gap: 540px;
  }
}

.main-nav__list {
  @include list-reset;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
    width: 475px;
  }
}

.main-nav__item {
  @include center;
  min-height: 66px;
  text-align: center;
  border-bottom: 1px solid $line-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }

  &--active {
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 29px;
        left: 0;
        height: 2px;
        background: $basic-font;
      }
    }
  }
}

.main-nav__item a {
  color: $black;

  @media (min-width: $tablet-width) {
    @include font-set(18px, 24px, 400);
  }

  @media (min-width: $desktop-width) {
    @include font-set(20px, 30px, 400);
    // color: $white;
  }
}

.main-nav__toggle {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  top: 8px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
