
.main-nav__list {
  list-style: none;
}

.main-nav__item {
  min-height: 66px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
