.map {
  height: 362px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-top: -298px;
  }
}

.map__image {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    width: 1440px;
    position: absolute;
  }
}
