.map {
  height: 362px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
  }

  iframe {
    border: none;
    width: 100%;
  }
}

.map__image {
  // width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    // height: 80px;
  }
}
