.more {
  padding: 0 20px 20px;
}

.more__title {
  @include font-set(24px, 24px, 400);
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 50px;
}

.more__list {
  @include list-reset;
}

.more__param {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.more__item {
  margin-top: 35px;
}

.more__product {
  @include font-set(16px, 16px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  color: $special-dark-grey2;
}

.more__term {
  @include font-set(14px, 14px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  margin-top: 7px;
}

.more__desc {
  @include font-set(14px, 14px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  text-align: right;
  text-transform: uppercase;
}

.more__button {
  @include center;
  @include font-set(16px, 16px, 400);
  margin-top: 18px;
}
