.more {
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent 50%, $basic-font 50%) 1 0%;

  @media (min-width: $tablet-width) {
    border-top: 2px solid $basic-font;
    border-image: none;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.more__title {
  @include font-set(24px, 24px, 400);
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  transform: translateY(-17px);
  width: 247px;
  background-color: $white;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    @include font-set(36px, 36px);
    width: 374px;
    margin-top: 10px;
    padding-left: 36px;
    margin-bottom: 46px;
    transform: translateY(-35px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 40px;
    transform: translate(-40px, -50px);
  }
}

.more__list {
  @include list-reset;
  border-top: 1px solid $border-grey3;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
    border: 1px solid $border-grey3;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    border: none;
  }
}

.more__param {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 222px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 285px;
    margin-bottom: 0;
  }
}

.more__item {
  padding-top: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey3;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 32px;
    border: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: center;
    padding: 17px 0;
    margin: 0;
    margin-bottom: 0;
    border-top: 1px solid $border-grey3;
    box-sizing: border-box;
  }
}

.more__item:not(:nth-child(4)) {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 708px;
      height: 1px;
      background-color: $border-grey3;
      left: -39px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: none;
    }
  }
}

.more__product {
  @include font-set(16px, 16px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  color: $special-dark-grey2;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 20px);
  }
}

.more__term {
  @include font-set(14px, 14px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 20px);
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.more__desc {
  @include font-set(14px, 14px, 400);
  font-family: $secondary-font;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  text-align: right;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    text-align: left;
    width: 40px;
  }
}

.more__button {
  @include center;
  @include font-set(16px, 16px, 400);
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-left: 40px;
    margin-top: 0;
  }
}
