.order {
  margin-top: 35px;
  margin-bottom: 12px;
}

.order__input-label,
.order__input,
.order__radio-label,
.order__text,
.order__check-label {
  @include font-set(16px, 18px, 400);
  font-family: $primary-font;
  color: $special-dark-grey;
  text-transform: uppercase;
}

.order__group {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.order__item {
  margin: 0;
  padding: 0;
  border: none;
}

.order__item:first-of-type {
  margin-bottom: 16px;
}

.order__item:nth-of-type(2) {
  margin-bottom: 43px;
}

.order__item:nth-of-type(3) {
  margin-bottom: 15px;
}

.order__item:nth-of-type(4) {
  margin-bottom: 23px;
}

.order__radio-label {
  color: $special-dark-grey2;
  margin-left: 20px;
}

.order__radio {
  margin-top: 15px;
}

.order__input {
  height: 45px;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 15px;
  border: 1px solid $border-grey2;
  box-sizing: border-box;
}


.order__list-radio {
  @include list-reset;
  margin-top: 12px;
}

.order__list-check {
  @include list-reset;
}

.order__title {
  @include font-set(24px, 26px, 400);
  font-family: $primary-font;
  margin-left: -2px;
}

.order__title:nth-of-type(1) {
  margin-bottom: 25px;
}

.order__text {
  text-align: center;
  padding-top: 10px;
  width: 275px;
  height: 135px;
  margin-top: 15px;
}

.order__check-label {
  color: $black;
  margin-left: 20px;
}

.order__check {
  margin-top: 15px;
}

.order__button {
  @include font-set(16px, 20px, 400);
  @include center;
  font-family: $primary-font;
  width: 280px;
  min-height: 40px;
  margin-top: 29px;
  border: none;
  margin-bottom: 17px;
}

.order__small {
  @include font-set(14px, 16px, 400);
  font-family: $secondary-font;
  margin-left: 63px;
}

.order__input-label {
  margin-top: 15px;
}
