.order {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 67px;
    justify-content: space-between;
  }
}

.order__group label,
.order__text,
.order__input {
  @include font-set(16px, 18px, 400);
  font-family: $primary-font;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}

.order__group {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.order__item {
  margin: 0;
  padding: 0;
  border: none;

  &--cat {
    margin-bottom: 8px;
    padding-bottom: 8px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 120%;
      height: 1px;
      background-color: $line-grey;
      margin: 0 -20px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
      border: none;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
      width: 569px;
      box-sizing: border-box;
    }
  }

  &--service {
    margin-bottom: 45px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 140%;
      height: 1px;
      background-color: $line-grey;
      margin: 0 -20px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 100px;
      padding-top: 5px;
      padding-bottom: 6px;
      width: 100%;
      border: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      padding-top: 8px;
      padding-left: 0;
      width: 568px;
      height: 200px;
      margin-bottom: 94px;
      box-sizing: border-box;
      border: 1px solid $line-grey;
    }
  }

  &--owner {
    margin-bottom: 21px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent 50%, $basic-font 50%) 1 0%;

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
      border-top: 2px solid $basic-font;
      border-image: none;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 35px;
    }
  }

  &--comment {
    margin-bottom: 23px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent 50%, $basic-font 50%) 1 0%;

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
      border-top: 2px solid $basic-font;
      border-image: none;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
    }
  }

  &--extra {
    margin-bottom: 16px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent 50%, $basic-font 50%) 1 0%;

    @media (min-width: $tablet-width) {
      border-top: 2px solid $basic-font;
      border-image: none;
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 41px;
    }
  }
}

.order__radio-label {
  color: $special-dark-grey2;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.order__radio {
  display: none;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.order__radio:checked + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 9px solid $white;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $basic-font;
  box-shadow: 0 0 0 1px $border-grey3;

  @media (min-width: $tablet-width) {
    border: 11px solid $white;
    width: 40px;
    height: 40px;
    left: -59px;
    top: -6px;
  }
}

.order__radio + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 9px solid $white;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 0 1px $border-grey3;

  @media (min-width: $tablet-width) {
    border: 11px solid $white;
    width: 40px;
    height: 40px;
    left: -59px;
    top: -5px;
  }
}

.order__radio + label:hover::before {
  box-shadow: 0 0 0 1px $hover-grey;
}

.order__radio:disabled + label::before {
  opacity: 0.3;
}

.order__radio + label:focus::before {
  box-shadow: 0 0 0 1px $hover-grey;
}

.order__check + label:focus::before {
  box-shadow: 0 0 0 1px $hover-grey;
}

.order__input {
  height: 46px;
  padding-left: 15px;
  border: 1px solid $border-grey2;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &:hover {
    border: 1px solid $border-grey3;
  }

  &:focus {
    outline: none;
    border: 2px solid $special-dark-grey;
  }

  &--error {
    border: 2px solid $error;
  }

  &--error + .order__icon-email,
  &--error + .order__icon-phone {
    fill: $error;
  }

  &:disabled {
    background-color: $white;
    border: 2px solid $special-dark-grey;
  }

  &:disabled + .order__icon-email,
  &:disabled + .order__icon-phone {
    fill: $basic-font;
  }
}

.order__list {
  @include list-reset;

  &--radio {
    margin-top: 24px;

    .order__group {
      margin-left: 25px;
      margin-bottom: 22px;

      @media (min-width: $tablet-width) {
        margin-left: 68px;
      }
    }
  }

  &--checkbox {
    margin-top: 24px;

    .order__group {
      margin-left: 25px;
      margin-bottom: 22px;

      @media (min-width: $tablet-width) {
        margin-top: 17px;
        padding-left: 12px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--checkbox .order__group:nth-of-type(odd) {
    @media (min-width: $tablet-width) {
      width: 220px;
      margin-right: 88px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &--checkbox .order__group:nth-of-type(1) {
    @media (min-width: $desktop-width) {
      margin-right: 70px;
    }
  }

  &--checkbox .order__group:nth-of-type(2) {
    @media (min-width: $desktop-width) {
      margin-right: 140px;
    }
  }

  &--checkbox .order__group:nth-of-type(3) {
    @media (min-width: $desktop-width) {
      margin-right: 68px;
    }
  }
}

.order__title {
  @include font-set(24px, 26px, 400);
  font-family: $primary-font;
  margin: 0;
  transform: translateY(-18px);
  background-color: $white;

  @media (min-width: $tablet-width) {
    @include font-set(36px, 36px);
    transform: translateY(-24px);
    margin-bottom: 75px;
  }

  &--owner {
    width: 201px;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
      width: 552px;
      transform: translate(-40px, -24px);
      padding-left: 40px;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }

  &--comment {
    width: 142px;
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      width: 219px;
      margin-bottom: 36px;
      transform: translate(-40px, -24px);
      padding-left: 40px;
      background-color: $white;
    }
  }

  &--extra {
    width: 164px;

    @media (min-width: $tablet-width) {
      width: 252px;
      margin-bottom: 22px;
      transform: translate(-40px, -24px);
      padding-left: 40px;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }
}

.order__text {
  text-align: center;
  padding-top: 10px;
  min-height: 135px;
  margin-top: 15px;
  margin-bottom: 13px;
  width: 275px;

  @media (min-width: $tablet-width) {
    width: 610px;
    min-height: 160px;
    text-align: left;
    padding-left: 18px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: 21px;
  }
}

.order__check-label {
  color: $black;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.order__check {
  display: none;
}

.order__check:checked + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $border-grey3;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -58px;
    top: -5px;
  }
}

.order__check + label:hover::before {
  border: 1px solid $hover-grey;
}

.order__check:disabled + label::before,
.order__check:disabled + label::after {
  opacity: 0.3;
}

.order__check:checked + label::after {
  content: "";
  position: absolute;
  left: -38px;
  top: 2px;
  width: 16px;
  height: 10px;
  border-left: 1px solid $basic-font;
  border-bottom: 1px solid $basic-font;
  box-sizing: border-box;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    left: -46px;
    top: 5px;
    width: 18px;
    height: 11px;
  }
}

.order__check + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $border-grey3;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -58px;
    top: -5px;
  }
}

.order__icon-email {
  position: absolute;
  top: 20px;
  right: 15px;

  &--error {
    fill: $error;
  }
}

.order__icon-phone {
  position: absolute;
  top: 14px;
  right: 13px;
}

.order__button {
  @include font-set(16px, 20px, 400);
  @include center;
  border: none;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 20px);
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-set(20px, 20px);
    padding: 18px 0;
    width: 568px;
  }

  &:active {
    outline: none;
  }
}

.order__small {
  @include font-set(14px, 16px, 400);
  font-family: $secondary-font;
  margin-left: 63px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 16px);
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 83px;
  }
}

.order__input-label {
  margin-top: 15px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.order__footer {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.order__wrapper {
  &--owner {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--owner .order__group {
    margin-bottom: 16px;

    @media (min-width: $desktop-width) {
      width: 570px;
      margin-bottom: 54px;
    }
  }

  &--owner .order__input-label {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.order__desktop-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 81px;
    margin-bottom: -5px;
  }
}
