.order {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 180px;
    justify-content: space-between;
  }
}

.order__group label,
.order__text,
.order__input {
  @include font-set(16px, 18px, 400);
  font-family: $primary-font;
  color: $special-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}

.order__group {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.order__item {
  margin: 0;
  padding: 0;
  border: none;

  &--cat {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $line-grey;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
      width: 569px;
      box-sizing: border-box;
    }
  }

  &--service {
    margin-bottom: 14px;
    border-bottom: 1px solid $line-grey;

    @media (min-width: $tablet-width) {
      border: 1px solid $border-grey2;
      margin-bottom: 78px;
      padding-left: 28px;
      padding-top: 15px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 28px;
      padding-left: 28px;
      width: 568px;
      margin-bottom: 70px;
      box-sizing: border-box;
    }
  }

  &--owner {
    margin-bottom: 10px;
    border-top: 2px solid $basic-font;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }

  &--comment {
    margin-bottom: 23px;
    border-top: 2px solid $basic-font;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
    }
  }

  &--extra {
    margin-bottom: 16px;
    border-top: 2px solid $basic-font;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  }
}

.order__radio-label {
  color: $special-dark-grey2;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.order__radio {
  display: none;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.order__radio:checked + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 9px solid $white;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $basic-font;
  box-shadow: 0 0 0 1px $border-grey3;
}

.order__radio + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 9px solid $white;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 0 0 1px $border-grey3;
}

.order__input {
  height: 45px;
  padding-left: 15px;
  border: 1px solid $border-grey2;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
}

.order__list {
  @include list-reset;

  &--radio {
    margin-top: 24px;

    .order__group {
      margin-left: 25px;
      margin-bottom: 22px;
    }
  }

  &--checkbox {
    margin-top: 15px;

    .order__group {
      margin-left: 25px;
      margin-bottom: 22px;

      @media (min-width: $tablet-width) {
        margin-top: 15px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--checkbox .order__group:nth-of-type(odd) {
    @media (min-width: $tablet-width) {
      width: 220px;
      margin-right: 140px;
    }
  }
}

.order__title {
  @include font-set(24px, 26px, 400);
  font-family: $primary-font;
  margin-bottom: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include font-set(36px, 36px);
    margin-bottom: 75px;
  }

  &--owner {
    margin-bottom: 27px;
    width: 197px;
    transform: translateY(8px);

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  &--comment {
    width: 138px;
    transform: translateY(0);
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }
  }

  &--extra {
    width: 160px;

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }
  }
}

.order__text {
  text-align: center;
  padding-top: 10px;
  min-height: 135px;
  margin-top: 15px;
  width: 275px;

  @media (min-width: $tablet-width) {
    width: 610px;
    min-height: 160px;
    text-align: left;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: 5px;
  }
}

.order__check-label {
  color: $black;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.order__check {
  // margin-top: 15px;
  display: none;
}

.order__check:checked + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $border-grey3;
  box-sizing: border-box;
  background-image: url("../img/tick.svg");
  background-position: 4px 7px;
  background-repeat: no-repeat;
}

.order__check + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $border-grey3;
  box-sizing: border-box;
}

.order__icon-email {
  position: absolute;
  top: 20px;
  right: 15px;
}

.order__icon-phone {
  position: absolute;
  top: 14px;
  right: 13px;
}

.order__button {
  @include font-set(16px, 20px, 400);
  @include center;
  border: none;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 20px);
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-set(20px, 20px);
    padding: 18px 0;
    width: 568px;
  }
}

.order__small {
  @include font-set(14px, 16px, 400);
  font-family: $secondary-font;
  margin-left: 63px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 16px);
    padding-top: 45px;
  }
}

.order__input-label {
  margin-top: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.order__footer {
  @media (min-width: $tablet-width) {
    display: flex;

    @media (min-width: $desktop-width) {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.order__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--owner {
    justify-content: space-between;
  }

  &--owner .order__group {
    margin-bottom: 17px;

    @media (min-width: $desktop-width) {
      width: 570px;
      margin-bottom: 54px;
    }
  }

  &--owner .order__input-label {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}
