
.page-main__title {
  @include font-set(36px, 36px, 400);
  font-family: $primary-font;
  padding-top: 30px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include font-set(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.page-main__text {
  @include font-set(14px, 18px, 400);
  font-family: $primary-font;
  text-transform: uppercase;
  width: 280px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
    width: 450px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    @include wrapper;
    padding-bottom: 15px;
    width: 350px;
  }
}
