.page-header {
  @include font-set(20px, 20px, 500);
  background-color: $white;
  font-family: $primary-font;
  color: $black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.page-header__logo {
  background-color: $white;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 34px;
    height: 38px;
    background-image: url("../img/logo-mobile.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 0;

    &::before {
      display: none;
    }

    img {
      width: 174px;
      height: 52px;
    }
  }

  // @media (min-width: $desktop-width) {
  //   margin-top: 35px;
  // }
}

.page-header__logo img {
  margin-top: 24px;
  margin-left: 90px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
