.page-footer {
  min-height: 236px;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding: 0 20px;
  margin: 0;
}

.page-footer__logo {
  display: block;
  width: 280px;
  height: 95px;
  border-bottom: 1px solid #d9d9d9;
}


.page-footer__logo img {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  display: block;
  width: 280px;
  height: 45px;
  border-bottom: 1px solid #d9d9d9;
}
