.page-footer {
  min-height: 236px;
  background-color: $basic-grey;
  padding: 40px 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 30px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
}

.page-footer__logo {
  display: block;
  width: 280px;
  height: 95px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border: none;
    width: 140px;
  }
}

.page-footer__logo img {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  display: block;
  width: 280px;
  height: 45px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border: none;
    width: 180px;
  }
}
