.services {
  @include font-set(14px, 18px, 400);
  font-family: $secondary-font;
  font-style: normal;
  color: $black;
}

.services__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 80px;
  }
}

.services__item {
  background-color: $basic-grey;
  padding: 20px 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 30px;
    padding-top: 18px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 50px 0;
  }

  &--slim {
    position: relative;

    .services__name {
      padding-left: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 22px;
      top: 25px;
      width: 50px;
      height: 53px;
      background-image: url("../../img/cat-back.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    position: relative;

    .services__name {
      padding-left: 35px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 25px;
      width: 67px;
      height: 50px;
      background-image: url("../../img/cat-back2.svg");
      background-repeat: no-repeat;
    }
  }
}

.services__name {
  @include font-set(24px, 37px, 400);
  font-family: $primary-font;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  // padding-left: 10px;

  @media (min-width: $tablet-width) {
    @include font-set(36px, 36px);
    text-align: left;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-top: 15px;
  }
}

.services__description {
  color: $special-dark-grey;
  width: 227px;
  padding-bottom: 27px;
  border-bottom: 1px solid $border-grey;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 24px);
    border: none;
    width: 377px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    width: 467px;
    padding-bottom: 12px;
    padding-left: 50px;
  }
}

.services__link {
  @include font-set(16px, 16px, 400);
  font-family: $primary-font;
  font-style: normal;
  color: $black;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    margin-top: 85px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 100px;
    top: 8px;
    width: 24px;
    height: 12px;
    background-image: url("../../img/arrow.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
