.services {
  @include font-set(14px, 18px, 400);
  font-family: $secondary-font;
  font-style: normal;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.services__list {
  @include list-reset;
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin-top: 80px;
    margin-left: 80px;
  }
}

.services__item {
  min-height: 266px;
  background-color: $basic-grey;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    min-height: 374px;
  }
}

.services__name {
  @include font-set(24px, 37px, 400);
  font-family: $primary-font;
  font-style: normal;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    @include font-set(36px, 36px);
    text-align: left;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: 20px;
  }
}

.services__description {
  color: $special-dark-grey;
  width: 227px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-grey;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 24px);
    border: none;
    width: 377px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
    width: 467px;
    padding-bottom: 12px;
  }
}

.services__link {
  @include font-set(16px, 16px, 400);
  font-family: $primary-font;
  font-style: normal;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-set(20px, 30px);
  }
}
