.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 45px;
    padding: 0;
  }
}

.social__item {
  // margin: 0 20px;
  padding-right: 39px;
  padding-top: 2px;


  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 28px;
    padding-top: 5px;
  }
}

.social__link {
  display: block;

  &:hover .social__link-icon {
    fill: $basic-font;
  }

  &:active .social__link-icon {
    opacity: 0.3;
  }

  &--vkontakte .social__link-icon {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram .social__link-icon {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook .social__link-icon {
    width: 10px;
    height: 18px;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}

.social__link-icon {
  fill: $special-grey;
}
