.work {
  @include font-set(14px, 18px, 400);
  font-family: $secondary-font;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $line-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.work__title {
  @include font-set(36px, 40px, 400);
  font-family: $primary-font;
  margin: 0;
  margin-bottom: 42px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    @include font-set(60px, 60px);
    margin-top: 0;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    @include font-set(60px, 60px);
    margin-top: 18px;
    margin-bottom: 42px;
  }
}

.work__list {
  @include list-reset;
  margin-bottom: 48px;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 35px;
    padding-bottom: 30px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
  }
}

.work__item {
  margin-bottom: 25px;
  padding-left: 80px;

  &:nth-of-type(odd) {
    @media (min-width: $tablet-width) {
      margin-right: 97px;
    }
  }

  &:not(:nth-of-type(4)) {
    @media (min-width: $desktop-width) {
      margin-right: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;

    &::after {
      @include font-set(280px, 280px, 400);
      content: counter(item);
      counter-increment: item;
      font-family: $primary-font;
      color: $basic-grey;
      position: absolute;
      left: 115px;
      top: -8px;
      z-index: -1;
    }
  }

  &--leaf {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      width: 60px;
      height: 60px;
      background-color: $basic-font;
      background-image: url("../img/leaf.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 33px;
        width: 80px;
        height: 80px;
        background-position: center;
      }
    }
  }

  &--wash {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      width: 60px;
      height: 60px;
      background-color: $basic-font;
      background-image: url("../img/wash.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        left: 2px;
        top: 33px;
        width: 80px;
        height: 80px;
        background-position: center;
      }
    }
  }

  &--eat {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      width: 60px;
      height: 60px;
      background-color: $basic-font;
      background-image: url("../img/eat.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        left: 0;
        top: 33px;
        width: 80px;
        height: 80px;
        background-position: center;
      }
    }
  }

  &--clock {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: 60px;
      background-color: $basic-font;
      background-image: url("../img/clock.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        left: 2px;
        top: 33px;
        width: 80px;
        height: 80px;
        background-position: center;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    padding-top: 130px;
    padding-bottom: 40px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }
}

.work__item p {
  color: $special-dark-grey;
  width: 200px;

  @media (min-width: $tablet-width) {
    @include font-set(16px, 24px);
    width: 245px;
  }
}
