.wrapper {
  @include wrapper;

  &--form {
    @media (min-width: $tablet-width) {
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
    }
  }

  &--container {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
