// Colors

$white: white;
$black: black;
$basic-green: #68b738;
$bg-green: rgb(104, 183, 56);
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$line-grey: #e6e6e6;
$border-grey: #d9d9d9;
$bg-grey: #eaeaea;


// Fonts

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;


// Mixins

@mixin font-set($size, $line-height, $weight: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
