// Colors

$white: white;
$black: black;
$basic-font: #68b738;
$bg-green: rgb(104, 183, 56);
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$special-dark-grey2: #222222;
$line-grey: #e6e6e6;
$border-grey: #d9d9d9;
$border-grey2: #e7e7e7;
$bg-grey: #eaeaea;


// Fonts

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;
