// Colors

$white: white;
$black: black;
$basic-font: #68b738;
$bg-green: rgb(104, 183, 56);
$hover-green: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #666666;
$special-dark-grey: #444444;
$special-dark-grey2: #222222;
$line-grey: #e6e6e6;
$line-grey2: #ebebeb;
$border-grey: #d9d9d9;
$border-grey2: #e7e7e7;
$border-grey3: #cdcdcd;
$bg-grey: #eaeaea;
$error: #ff8282;
$hover-grey:#bababa;
$symbol-grey: #d3d3d3;


// Fonts

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$retina: (-webkit-min-device-pixel-ratio: 2, min-resolution: 2dppx);
